.container {
    width: max-content;
    height: max-content;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}